
.navbar {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.navbar li {
    float: none;
}

.dropdown-toggle {
    background-color: transparent;
    color: #007bff;
    border: none;
}
.dropdown-menu {
  box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
}
